{% extends 'rpg/base.html' %}
{% load static %}

{% block content %}
<div class="container center-align">
	{% for group in groups %}
	<h1>{{group.group_name}}</h1>
	<div class="row">
		{% for character in characters %}
		{% if character.group == group %}
		<div class="col s12 m6 l4 xl3">
			<h1 class="center-align flow-text">{{ character.user.last_name }}{{character.user.first_name}}</h1>
			<div class="character">
				<img class="responsive-img" src="{% static 'rpg/image/base.png' %}">
				<img class="responsive-img absolute" src="{{ character.hair.img.url }}">
				<img class="responsive-img absolute" src="{{ character.clothes.img.url }}">
				<img class="responsive-img absolute" src="{{ character.eye.img.url }}">
			</div>
			<br>
		</div>
		{% endif %}
		{% endfor %}
	</div>
	{% endfor %}
</div>
{% endblock %}
