{% extends 'rpg/base.html' %}
{% load static %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col s6 m4 offset-m1 l3 offset-l2">
			<div class="character">
				<img class="responsive-img" src="{% static 'rpg/image/base.png' %}">
				<img class="responsive-img absolute" src="{{ character.eye.img.url }}">
				<img class="responsive-img absolute" src="{{ character.hair.img.url }}">
				<img class="responsive-img absolute" src="{{ character.clothes.img.url }}">
			</div>
			<p id="ally_health" class="center-align">체력: {{ battle.ally_health }}</p>
		</div>
		<div class="col s6 m4 offset-m2 l3 offset-l2">
			<img class="responsive-img" src="{{ battle.monster.img.url }}">
			<p id="enemy_health" class="center-align">이해도: {{ battle.enemy_health }}</p>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m10 offset-m1 l8 offset-l2">
			<div class="card-panel teal">
				<span id="dialog" class="white-text">{{ battle.monster.name }}(이)가 나타났다!</span>
			</div>
			<div class="row">
				<div class="col s6 center-align">
					<button skillid={{ character.skill1.id }} class="skill waves-effect waves-light btn">{{ character.skill1 }}</button>
				</div>
				<div class="col s6 center-align">
					<button skillid={{ character.skill2.id }} class="skill waves-effect waves-light btn">{{ character.skill2 }}</button>
				</div>
				<div class="col s6 center-align">
					<button skillid={{ character.skill3.id }} class="skill waves-effect waves-light btn">{{ character.skill3 }}</button>
				</div>
				<div class="col s6 center-align">
					<button skillid={{ character.skill4.id }} class="skill waves-effect waves-light btn">{{ character.skill4 }}</button>
				</div>
			</div>

		</div>
	</div>
</div>
<script src="{% static 'rpg/js/battle.js' %}"></script>
{% endblock %}
