{% extends 'rpg/base.html' %}
{% load static %}

{% block content %}
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
<script>
var turn = {{bossbattlemanager.turn}};
var bannedtype = "{{bossbattlemanager.banned_type}}";
var enemy_health = {{bossbattlemanager.enemy_health}};
var ally_health = {{bossbattle.ally_health}};
</script>
<div class="container center-align">
	<div class="row battleground {{bossbattlemanager.boss_type}}">
		<div class="col s6">
			<div class="row">
				{% for character in characters %}
				<div class="col s2">
					<div class="character">
						<img class="responsive-img" src="{% static 'rpg/image/base.png' %}">
						<img class="responsive-img absolute" src="{{ character.eye.img.url }}">
						<img class="responsive-img absolute" src="{{ character.hair.img.url }}">
						<img class="responsive-img absolute" src="{{ character.clothes.img.url }}">
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col s6">
			<img id="monster" class="responsive-img" src="{{ bossbattlemanager.bossmonster.img.url }}">
		</div>
	</div>
	<div class="row">
		<div class="col s6">
			<p class="left-align">내 체력</p>
			<div class="progress">
				<div id="ally_health" class="determinate" style="width: {{bossbattle.ally_health}}%"></div>
			</div>
		</div>
		<div class="col s6">
			<p class="left-algin">적 체력</p>
			<div class="progress">
				<div id="enemy_health" class="determinate" style="width: {{percentage}}%"></div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m10 offset-m1 l8 offset-l2">
			<div class="card-panel teal">
				<span id="dialog" class="white-text">{{ bossbattlemanager.bossmonster.name }}(이)가 나타났다!</span>
			</div>
			<div class="row">
				<div class="col s12 m12 l6 center-align">
					{% if character.skill1 %}
					<button skill="skill1" health="{{character.skill1.health}}" type="{{character.skill1.type}}" class="skill waves-effect waves-light btn {% if character.skill1.type == bossbattlemanager.banned_type %}disabled{% endif %}">{{ character.skill1.name }} ({{ character.skill1.health }},{{ character.skill1.damage }})</button>
					{% else %}
					<button skill="skill0" class="skill waves-effect waves-light btn disabled">발버둥치기 (5,5)</button>
					{% endif %}
				</div>
				<div class="col s12 m12 l6 center-align">
					{% if character.skill2 %}
					<button skill="skill2" health="{{character.skill2.health}}" type="{{character.skill2.type}}" class="skill waves-effect waves-light btn {% if character.skill1.type == bossbattlemanager.banned_type %}disabled{% endif %}">{{ character.skill2.name }} ({{ character.skill2.health }},{{ character.skill2.damage }})</button>
					{% else %}
					<button skill="skill0" class="skill waves-effect waves-light btn disabled">발버둥치기 (5,5)</button>
					{% endif %}
				</div>
				<div class="col s12 m12 l6 center-align">
					{% if character.skill3 %}
					<button skill="skill3" health="{{character.skill3.health}}" type="{{character.skill3.type}}" class="skill waves-effect waves-light btn {% if character.skill1.type == bossbattlemanager.banned_type %}disabled{% endif %}">{{ character.skill3.name }} ({{ character.skill3.health }},{{ character.skill3.damage }})</button>
					{% else %}
					<button skill="skill0" health="{{character.skill4.heatlh}} "class="skill waves-effect waves-light btn disabled">발버둥치기 (5,5)</button>
					{% endif %}
				</div>
				<div class="col s12 m12 l6 center-align">
					{% if character.skill4 %}
					<button skill="skill4" health="{{character.skill4.health}}" type="{{character.skill4.type}}" class="skill waves-effect waves-light btn {% if character.skill1.type == bossbattlemanager.banned_type %}disabled{% endif %}">{{ character.skill4.name }} ({{ character.skill4.health }},{{ character.skill4.damage }})</button>
					{% else %}
					<button skill="skill0" class="skill waves-effect waves-light btn disabled">발버둥치기 (5,5)</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'rpg/js/bossbattle.js' %}"></script>
{% endblock %}
