{% extends 'rpg/base.html' %}
{% load static %}

{% block content %}

<div class="container center-align">
	<h1>스킬 조합</h1>

	<div class="row">
		<div id="skill-left" class="col s12 m6 offset-m3 l4 xl3 offset-xl2">
			<button class="skill btn">스킬을 넣어주세요</button>
		</div>
		<div class="col s12 m6 offset-m3 l4 xl2">
			<i class="small material-icons">add</i>
		</div>
		<div id="skill-right" class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn" id="skill-right">스킬을 넣어주세요</button>
		</div>
	</div>
	<div class="row">
		<div id="skill-combined" class="col s12 m6 offset-m3 l4 offset-l4">
			<button combined="false" class="skill btn">?????</button>
		</div>
	</div>
	<button id="submit" class="btn waves-effect waves-light">조합하기</button>

	<div id="select">
		<h3>일반 스킬</h3>
		<div class="row" id="normal">
			{% for have in haves %}
			{% if not have.skill.math and not have.skill.phys and not have.skill.chem and not have.skill.life and not have.skill.prog %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="normal" skillid="{{have.skill.id}}">{{have.skill.name}} <span class="number">{{have.number}}</span>개</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h3>수학 스킬</h3>
		<div class="row" id="math">
			{% for have in haves %}
			{% if have.skill.math %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="math" skillid="{{have.skill.id}}">{{have.skill.name}} <span class="number">{{have.number}}</span>개</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h3>물리 스킬</h3>
		<div class="row" id="phys">
			{% for have in haves %}
			{% if have.skill.phys %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="phys" skillid="{{have.skill.id}}">{{have.skill.name}} <span class="number">{{have.number}}</span>개</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h3>화학 스킬</h3>
		<div class="row" id="chem">
			{% for have in haves %}
			{% if have.skill.chem %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="chem" skillid="{{have.skill.id}}">{{have.skill.name}} <span class="number">{{have.number}}</span>개</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h3>생물 스킬</h3>
		<div class="row" id="life">
			{% for have in haves %}
			{% if have.skill.life %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="life" skillid="{{have.skill.id}}">{{have.skill.name}} <span class="number">{{have.number}}</span>개</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h3>프밍 스킬</h3>
		<div class="row" id="prog">
			{% for have in haves %}
			{% if have.skill.prog %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="prog" skillid="{{have.skill.id}}">{{have.skill.name}} <span class="number">{{have.number}}</span>개</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<script src="{% static 'rpg/js/combination.js' %}"></script>
{% endblock %}
