{% load static %}

<!DOCTYPE html>
<html>
	{% include 'rpg/head.html' %}
	<body>
		<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
     		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
		<div class="container" style="padding-top: 100px;">
			<div class="row">
				<div id="phoenix" class="col s10 offset-s1">
					<img class="responsive-img non-pixel" src="/static/rpg/image/normal_phoenix.png">
				</div>
				<div id="dialogsection" class="col s12">
					<div class="center-align card-panel teal">
						<span id="dialog" class="white-text big">.</span>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
	var lines = [
		"jumping",
		"안녕 새내기 친구들!",
		"normal",
		"아침에 갑작스런 지진 때문에 많이 놀랐을거야",
		"다친 사람이 없어서 정말 다행이라고 생각해",
		"jumping",
		"인솔자, 새내기 친구들 모두 침착하게 잘 대피해줘서 고마워",
		"normal",
		"어제 신 RPG의 결과를 잠깐 말해줄께!",
		"첫번째 보스의 학점 분포는...",
		"A 2개 분반, B 2개 분반, C 2개 분반",
		"jumping",
		"그리고 D 5개 분반, F 4개 분반이었어!",
		"teaching",
		"아직 세마리의 보스가 남아있으니",
		"끝까지 포기하지 않으면 충분히 역전할 수 있어",
		"또한 날이 바뀌면 얻을 수 있는 스탯이 급 증가하니",
		"gogo",
		"다른 분반을 따라잡기 아주 좋지!",
		"normal",
		"그러니까 다들 포기하지 않고 즐겨줬으면 해",
		"gogo",
		"이번 시간에는 전에 말한 新 삼부작의 두번째 게임!",
		"teaching",
		"'新과 함께'라는 게임을 하게 될꺼야!",
		"studying",
		"'신과 함께'는 캠퍼스 전체를 무대로 하는 게임이야",
		"다양한 장소에 가서 미션을 수행하는 '미션투어' 형식이지",
		"normal",
		"그러면 '신과 함께'에 대해 자세히 설명할 사람을 소개할께",
		"jumping",
		"미션투어팀장 홍영기를 박수로 맞아줘!",
		];
	</script>
	<script src="{% static 'rpg/js/phoenixtalk.js' %}"></script>
</html>
