{% load static %}

<!DOCTYPE html>
<html>
	{% include 'rpg/head.html' %}
	<body>
		<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
     		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
		<div class="container" style="padding-top: 100px;">
			<div class="row">
				<div id="phoenix" class="col s6 offset-s3">
					<img class="responsive-img non-pixel" src="/static/rpg/image/normal_phoenix.png">
				</div>
				<div id="dialogsection" class="col s12">
					<div class="center-align card-panel teal">
						<span id="dialog" class="white-text big">.</span>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
	var lines = [
		"studying",
		"큼...음... 잘 나오나?",
		"jumping",
		"오! 안녕 새내기 친구들!",
		"normal",
		"나는 포스텍의 마스코트, 포닉스야!",
		"jumping",
		"너희들의 입학을 진심으로 축하해!",
		"normal",
		"내가 이렇게 나온 이유는 다름이 아니라,",
		"너희를 위해 우리가 준비한 기획을 알려주기 위해서야",
		"올해 새터는 신입생 친구들을 위해 3가지 게임을 준비해봤어",
		"gogo",
		"그 이름하야! 新 삼부작!",
		"teaching",
		"신입생을 뜻하는 新자를 쓴 세가지 게임을 즐기게 될꺼야",
		"jumping",
		"그 중에서도 오늘부터 시작되는 게임이 바로 新 RPG!",
		"teaching",
		"신 RPG는 바로 내가 관리하고 있는 게임이기도 하지",
		"normal",
		"그러면 신 RPG에 대해 자세히 설명할 사람을 소개할께",
		"jumping",
		"테마기획팀장 임범수를 박수로 맞아줘!",
		];
	</script>
	<script src="{% static 'rpg/js/phoenixtalk.js' %}"></script>
</html>
