{% load static %}

<!DOCTYPE html>
<html>
	{% include 'rpg/head.html' %}
	<body>
		<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
     		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
		<div class="container" style="padding-top: 100px;">
			<div class="row">
				<div id="phoenix" class="col s8 offset-s2">
					<img class="responsive-img non-pixel" src="/static/rpg/image/normal_phoenix.png">
				</div>
				<div id="dialogsection" class="col s12">
					<div class="center-align card-panel teal">
						<span id="dialog" class="white-text big">.</span>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
	var lines = [
		"jumping",
		"안녕 새내기 친구들!",
		"normal",
		"다들 어제 밤에는 잘 잤니?",
		"jumping",
		"드디어 내일이면 새터가 끝나",
		"normal",
		"마지막 날인 만큼 끝까지 열심히 참여해줘",
		"그럼 잠깐 어제 신 RPG의 결과를 볼까?",
		"jumping",
		"일단 15개 분반 중 12개 분반이 보스를 클리어했어!",
		"normal",
		"그런데 Maxe Mret Dim II도 상태가 이상한 것 같았어...",
		"새내기들의 기술을 봉인한다니 있을 수 없는 일이야",
		"지금 알아보고 있는데 일종의 바이러스인 것 같아",
		"studying",
		"바이러스는 강력한 몬스터를 숙주로 삼는 것 같으니까",
		"오늘의 보스 몬스터도 조심하도록 해!",
		"normal",
		"그리고 많이 뒤쳐진 친구들을 위해서",
		"일반 속성이지만 강력한 '구글링하기' 스킬을 줬어. 잘 받았니?",
		"첫번째 보스의 학점 분포는...",
		"A 1개 분반, B 4개 분반, C 2개 분반",
		"jumping",
		"그리고 D 3개 분반, F 2개 분반이었어!",
		"teaching",
		"오늘이 마지막이니까 포기하지 말고 열심히 하렴!",
		"normal",
		"테마기획은 동아리탐방 전까지만 할 수 있으니",
		"오늘은 꼭 그 이전에 마지막 보스를 깨야해",
		"jumping",
		"그러면 다들 이따가 어울림 한마당에에서 봐!"
		];
	</script>
	<script src="{% static 'rpg/js/phoenixtalk.js' %}"></script>
</html>
