{% extends 'rpg/base.html' %}
{% load static %}

{% block content %}

<div class="container center-align">
	<div class="row">
		<h1>보스전을 준비하십시오!</h1>
		<p>접속중인 플레이어가 모두 준비되면 시작합니다.</p>
		<h3>접속 인원: <span id="numOfGroup"></span>명</h3>
		<h3>준비 인원: <span id="numOfReady"></span>명</h3>
		{% if not bossbattle.ready %}
		<button id="ready" class="btn waves-effect waves-light">준비 완료</button>
		{% else %}
		<button id="ready" class="btn waves-effect waves-light">준비 해제</button>
		{% endif %}
	</div>
</div>

<script src="{% static 'rpg/js/ready.js' %}"></script>

{% endblock %}
