{% extends 'rpg/base.html' %}

{% block content %}
<div class="container center-align">
	<h1>수상 목록 및 결과</h1>
	<h3>그룹 시상</h3>
		<h4>보스 학점 평균</h4>
		group, bossgrades
		{% for groupbossgrade in groupbossgrades %}
		<p>{{groupbossgrade.0}}, [{{groupbossgrade.1.0.0}}: {{groupbossgrade.1.0.1}}], [{{groupbossgrade.1.1.0}}: {{groupbossgrade.1.1.1}}], [{{groupbossgrade.1.2.0}}: {{groupbossgrade.1.2.1}}], [{{groupbossgrade.1.3.0}}: {{groupbossgrade.1.3.1}}]</p>
		{% endfor %}
		
		<h4>몬스터 도감 평균</h4>
		group, [A, B, C, D, F]
		{% for groupmonstergrade in groupmonstergrades %}
		<p>{{groupmonstergrade.0}}, {{groupmonstergrade.1}}, {{groupmonstergrade.2}}, {{groupmonstergrade.3}}, {{groupmonstergrade.4}}, {{groupmonstergrade.5}}</p>
		{% endfor %}
		
		<h4>조합 실패 횟수</h4>
		group, combicount
		{% for groupfailedCombicount in groupfailedCombicounts %}
		<p>{{groupfailedCombicount.0}}, {{groupfailedCombicount.1}}</p>
		{% endfor %}

		<h4>보스 최다 도전</h4>
		group, bossbattlecount
		{% for groupbossbattle in groupbossbattles %}
		<p>{{groupbossbattle.0}}, {{groupbossbattle.1}}</p>
		{% endfor %}

		<h4>몬스터 학살자</h4> - 아직 model이 없음


		<h4>패셔니스타</h4> - 아직 custumizing 제작 안됨

	<h3>개인 시상</h3>
		<h4>스탯 총합 1위</h4>
		character, totalstat
		{% for characterstat in characterstats %}
		<p>{{characterstat.0}}, {{characterstat.1}}</p>
		{% endfor %}

		<h4>몬스터 도감 최초 발견자 제일 많은 사람</h4>
		character, monsterfindercount
		{% for finder in monsterfinders %}
		<p>{{finder.0}}, {{finder.1}}</p>
		{% endfor %}

		<h4>몬스터 최고 학점 제일 많은 사람</h4>
		character, monsterchampioncount
		{% for champion in monsterchampions %}
		<p>{{champion.0}}, {{champion.1}}</p>
		{% endfor %}

		<h4>스킬 도감 최초 발견자 제일 많은 사람</h4>
		character, skillfindercount
		{% for finder in skillfinders %}
		<p>{{finder.0}}, {{finder.1}}</p>
		{% endfor %}

</div>
{% endblock %}
