{% extends 'rpg/base.html' %}
{% load static %}

{% block content %}

<div class="container center-align">
	<h1>스킬 선택</h1>
	<p>스킬을 4개보다 부족하게 선택할 경우 빈 칸은 '발버둥치기' 스킬로 대체됩니다.</p>
	<p>스킬은 '스킬이름(소모체력, 데미지)'로 표시됩니다.</p>
	<p>스탯 제한으로 장착하지 못하는 스킬은 회색으로 표시됩니다.</p>
	<p>회색 버튼을 누르면 부족한 스탯에 대한 정보가 나옵니다.</p>
	<div class="row">
		<h3>선택할 스킬</h3>
		<div id="skill1" class="col s12 m6 offset-m3 l6 xl3">
			<button class="skill btn" type="{{ character.skill1.type }}" skillid="{{character.skill1.id}}">{% if character.skill1 %}{{ character.skill1.name }}({{character.skill1.health}},{{character.skill1.damage}}){% endif %}</button>
		</div>
		<div id="skill2" class="col s12 m6 offset-m3 l6 xl3">
			<button class="skill btn" type="{{ character.skill2.type }}" skillid="{{character.skill2.id}}">{% if character.skill2 %}{{ character.skill2.name }}({{character.skill2.health}},{{character.skill2.damage}}){% endif %}</button>
		</div>
		<div id="skill3" class="col s12 m6 offset-m3 l6 xl3">
			<button class="skill btn" type="{{ character.skill3.type }}" skillid="{{character.skill3.id}}">{% if character.skill3 %}{{ character.skill3.name }}({{character.skill3.health}},{{character.skill3.damage}}){% endif %}</button>
		</div>
		<div id="skill4" class="col s12 m6 offset-m3 l6 xl3">
			<button class="skill btn" type="{{ character.skill4.type }}" skillid="{{character.skill4.id}}">{% if character.skill4 %}{{ character.skill4.name }}({{character.skill4.health}},{{character.skill4.damage}}){% endif %}</button>
		</div>
		<script>
			var skill1 = {% if character.skill1 %} true {% else %} false {% endif %}
			var skill2 = {% if character.skill2 %} true {% else %} false {% endif %}
			var skill3 = {% if character.skill3 %} true {% else %} false {% endif %}
			var skill4 = {% if character.skill4 %} true {% else %} false {% endif %}
		</script>
	</div>
	<button id="submit" class="btn waves-effect waves-light">장착하기</button>

	<h3>보유 스킬</h3>
	<div id="select">
		<h5>일반 스킬</h5>
		<div class="row" id="normal">
			{% for skill in skills %}
			{% if not skill.math and not skill.phys and not skill.chem and not skill.life and not skill.prog %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="normal" skillid="{{skill.id}}">{{skill.name}}({{skill.health}},{{skill.damage}})</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>수학 스킬</h5>
		<div class="row" id="math">
			{% for skill in skills %}
			{% if skill.math %}
			<div class="col s12 m6 l4 xl3">
				{% if skill.limit > character.math %}
				<button class="skill btn cannot" skilllimit={{skill.limit}} stat={{character.math}} type="math" koreantype="수학" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% else %}
				<button class="skill btn" type="math" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>물리 스킬</h5>
		<div class="row" id="phys">
			{% for skill in skills %}
			{% if skill.phys %}
			<div class="col s12 m6 l4 xl3">
				{% if skill.limit > character.phys %}
				<button class="skill btn cannot" skilllimit={{skill.limit}} stat={{character.phys}} type="phys" koreantype="물리" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% else %}
				<button class="skill btn" type="phys" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>화학 스킬</h5>
		<div class="row" id="chem">
			{% for skill in skills %}
			{% if skill.chem %}
			<div class="col s12 m6 l4 xl3">
				{% if skill.limit > character.chem %}
				<button class="skill btn cannot" skilllimit={{skill.limit}} stat={{character.chem}} type="chem" koreantype="화학" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% else %}
				<button class="skill btn" type="chem" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>생물 스킬</h5>
		<div class="row" id="life">
			{% for skill in skills %}
			{% if skill.life %}
			<div class="col s12 m6 l4 xl3">
				{% if skill.limit > character.life %}
				<button class="skill btn cannot" skilllimit={{skill.limit}} stat={{character.life}} type="life" koreantype="생물" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% else %}
				<button class="skill btn" type="life" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>프밍 스킬</h5>
		<div class="row" id="prog">
			{% for skill in skills %}
			{% if skill.prog %}
			<div class="col s12 m6 l4 xl3">
				{% if skill.limit > character.prog %}
				<button class="skill btn cannot" skilllimit={{skill.limit}} stat={{character.prog}} type="prog" koreantype="프밍" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% else %}
				<button class="skill btn" type="prog" skillid="{{skill.id}}">{{skill.name}} ({{skill.health}},{{skill.damage}})</button>
				{% endif %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<script src="{% static 'rpg/js/selectskill.js' %}"></script>
{% endblock %}
