{% extends 'rpg/base.html' %}
{% load static %}

{% block content %}

<div class="container center-align">
	<h1>스킬 선택</h1>

	<div class="row">
		<h3>현재 장착중인 스킬</h3>
		<div class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">{{ character.skill1.name }}</button>
		</div>
		<div class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">{{ character.skill2.name }}</button>
		</div>
		<div class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">{{ character.skill3.name }}</button>
		</div>
		<div class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">{{ character.skill4.name }}</button>
		</div>
	</div>
	<div class="row">
		<h3>선택할 스킬</h3>
		<div id="skill1" class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">스킬을 골라주세요</button>
		</div>
		<div id="skill2" class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">스킬을 골라주세요</button>
		</div>
		<div id="skill3" class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">스킬을 골라주세요</button>
		</div>
		<div id="skill4" class="col s12 m6 offset-m3 l4 xl3">
			<button class="skill btn">스킬을 골라주세요</button>
		</div>
	</div>
	<button id="submit" class="btn waves-effect waves-light">장착하기</button>

	<h3>보유 스킬</h3>
	<div id="select">
		<h5>일반 스킬</h5>
		<div class="row" id="normal">
			{% for skill in skills %}
			{% if not skill.math and not skill.phys and not skill.chem and not skill.life and not skill.prog %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="normal" skillid="{{skill.id}}">{{skill.name}}</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>수학 스킬</h5>
		<div class="row" id="math">
			{% for skill in skills %}
			{% if skill.math %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="math" skillid="{{skill.id}}">{{skill.name}}</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>물리 스킬</h5>
		<div class="row" id="phys">
			{% for skill in skills %}
			{% if skill.phys %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="phys" skillid="{{skill.id}}">{{skill.name}}</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>화학 스킬</h5>
		<div class="row" id="chem">
			{% for skill in skills %}
			{% if skill.chem %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="chem" skillid="{{skill.id}}">{{skill.name}}</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>생물 스킬</h5>
		<div class="row" id="life">
			{% for skill in skills %}
			{% if skill.life %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="life" skillid="{{skill.id}}">{{skill.name}}</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>

		<h5>프밍 스킬</h5>
		<div class="row" id="prog">
			{% for skill in skills %}
			{% if skill.prog %}
			<div class="col s12 m6 l4 xl3">
				<button class="skill btn" type="prog" skillid="{{skill.id}}">{{skill.name}}</button>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<script src="{% static 'rpg/js/selectskill.js' %}"></script>
{% endblock %}
