{% extends 'rpg/base.html' %}

{% block content %}
<div class="container center-align">
	<h3>일반 스킬</h3>
	<div class="row" id="normal">
		{% for dict in allSkillsWithBoolean %}
		{% if not dict.skill.math and not dict.skill.phys and not dict.skill.chem and not dict.skill.life and not dict.skill.prog %}
		{% if dict.is_owned %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn modal-trigger" href="#{{dict.skill.id}}">{{ dict.skill.name }}</button>

			<div id="{{dict.skill.id}}" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4 class="center-align">{{dict.skill.name}}</h4>
					<p class="center-align">소모 체력 : {{ dict.skill.health }}</p>
					<p class="center-align">스킬데미지 : {{ dict.skill.damage }}</p>
					{% if dict.skill.limit == 0 %}
					<p class="center-align">스탯 제한 : 없음</p>
					{% else %}
					<p class="center-align">스탯 제한 : {{dict.skill.limit }}</p>
					{% endif %}
					{% for skillbook in skillbooks %}
					{% if skillbook.skill.name == dict.skill.name %}
					<p class="center-align">최초 발견자 : {{ skillbook.finder }}</p>
					{% endif %}
					{% endfor %}
					{% for combination in allCombinations %}
					{% if combination.new_skill.name == dict.skill.name %}
					<p class="center-align">조합법 : {{ combination.skill01.name }} + {{combination.skill02.name }}</p>
					{% endif %}
					{% endfor %}
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn">?????</button>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	<h3>수학 스킬</h3>
	<div class="row" id="math">
		{% for dict in allSkillsWithBoolean %}
		{% if dict.skill.math %}
		{% if dict.is_owned %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn modal-trigger" href="#{{dict.skill.id}}">{{ dict.skill.name }}</button>

			<div id="{{dict.skill.id}}" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4 class="center-align">{{dict.skill.name}}</h4>
					<p class="center-align">소모 체력 : {{ dict.skill.health }}</p>
					<p class="center-align">스킬데미지 : {{ dict.skill.damage }}</p>
					{% if dict.skill.limit == 0 %}
					<p class="center-align">스탯 제한 : 없음</p>
					{% else %}
					<p class="center-align">스탯 제한 : {{dict.skill.limit }}</p>
					{% endif %}
					{% for skillbook in skillbooks %}
					{% if skillbook.skill.name == dict.skill.name %}
					<p class="center-align">최초 발견자 : {{ skillbook.finder }}</p>
					{% endif %}
					{% endfor %}
					{% for combination in allCombinations %}
					{% if combination.new_skill.name == dict.skill.name %}
					<p class="center-align">조합법 : {{ combination.skill01.name }} + {{combination.skill02.name }}</p>
					{% endif %}
					{% endfor %}
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn">?????</button>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	<h3>물리 스킬</h3>
	<div class="row" id="phys">
		{% for dict in allSkillsWithBoolean %}
		{% if dict.skill.phys %}
		{% if dict.is_owned %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn modal-trigger" href="#{{dict.skill.id}}">{{ dict.skill.name }}</button>

			<div id="{{dict.skill.id}}" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4 class="center-align">{{dict.skill.name}}</h4>
					<p class="center-align">소모 체력 : {{ dict.skill.health }}</p>
					<p class="center-align">스킬데미지 : {{ dict.skill.damage }}</p>
					{% if dict.skill.limit == 0 %}
					<p class="center-align">스탯 제한 : 없음</p>
					{% else %}
					<p class="center-align">스탯 제한 : {{dict.skill.limit }}</p>
					{% endif %}
					{% for skillbook in skillbooks %}
					{% if skillbook.skill.name == dict.skill.name %}
					<p class="center-align">최초 발견자 : {{ skillbook.finder }}</p>
					{% endif %}
					{% endfor %}
					{% for combination in allCombinations %}
					{% if combination.new_skill.name == dict.skill.name %}
					<p class="center-align">조합법 : {{ combination.skill01.name }} + {{combination.skill02.name }}</p>
					{% endif %}
					{% endfor %}
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn">?????</button>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	<h3>화학 스킬</h3>
	<div class="row" id="chem">
		{% for dict in allSkillsWithBoolean %}
		{% if dict.skill.chem %}
		{% if dict.is_owned %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn modal-trigger" href="#{{dict.skill.id}}">{{ dict.skill.name }}</button>

			<div id="{{dict.skill.id}}" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4 class="center-align">{{dict.skill.name}}</h4>
					<p class="center-align">소모 체력 : {{ dict.skill.health }}</p>
					<p class="center-align">스킬데미지 : {{ dict.skill.damage }}</p>
					{% if dict.skill.limit == 0 %}
					<p class="center-align">스탯 제한 : 없음</p>
					{% else %}
					<p class="center-align">스탯 제한 : {{dict.skill.limit }}</p>
					{% endif %}
					{% for skillbook in skillbooks %}
					{% if skillbook.skill.name == dict.skill.name %}
					<p class="center-align">최초 발견자 : {{ skillbook.finder }}</p>
					{% endif %}
					{% endfor %}
					{% for combination in allCombinations %}
					{% if combination.new_skill.name == dict.skill.name %}
					<p class="center-align">조합법 : {{ combination.skill01.name }} + {{combination.skill02.name }}</p>
					{% endif %}
					{% endfor %}
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn">?????</button>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	<h3>생물 스킬</h3>
	<div class="row" id="life">
		{% for dict in allSkillsWithBoolean %}
		{% if dict.skill.life %}
		{% if dict.is_owned %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn modal-trigger" href="#{{dict.skill.id}}">{{ dict.skill.name }}</button>

			<div id="{{dict.skill.id}}" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4 class="center-align">{{dict.skill.name}}</h4>
					<p class="center-align">소모 체력 : {{ dict.skill.health }}</p>
					<p class="center-align">스킬데미지 : {{ dict.skill.damage }}</p>
					{% if dict.skill.limit == 0 %}
					<p class="center-align">스탯 제한 : 없음</p>
					{% else %}
					<p class="center-align">스탯 제한 : {{dict.skill.limit }}</p>
					{% endif %}
					{% for skillbook in skillbooks %}
					{% if skillbook.skill.name == dict.skill.name %}
					<p class="center-align">최초 발견자 : {{ skillbook.finder }}</p>
					{% endif %}
					{% endfor %}
					{% for combination in allCombinations %}
					{% if combination.new_skill.name == dict.skill.name %}
					<p class="center-align">조합법 : {{ combination.skill01.name }} + {{combination.skill02.name }}</p>
					{% endif %}
					{% endfor %}
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn">?????</button>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
	<h3>프밍 스킬</h3>
	<div class="row" id="prog">
		{% for dict in allSkillsWithBoolean %}
		{% if dict.skill.prog %}
		{% if dict.is_owned %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn modal-trigger" href="#{{dict.skill.id}}">{{ dict.skill.name }}</button>

			<div id="{{dict.skill.id}}" class="modal modal-fixed-footer">
				<div class="modal-content">
					<h4 class="center-align">{{dict.skill.name}}</h4>
					<p class="center-align">소모 체력 : {{ dict.skill.health }}</p>
					<p class="center-align">스킬데미지 : {{ dict.skill.damage }}</p>
					{% if dict.skill.limit == 0 %}
					<p class="center-align">스탯 제한 : 없음</p>
					{% else %}
					<p class="center-align">스탯 제한 : {{dict.skill.limit }}</p>
					{% endif %}
					{% for skillbook in skillbooks %}
					{% if skillbook.skill.name == dict.skill.name %}
					<p class="center-align">최초 발견자 : {{ skillbook.finder }}</p>
					{% endif %}
					{% endfor %}
					{% for combination in allCombinations %}
					{% if combination.new_skill.name == dict.skill.name %}
					<p class="center-align">조합법 : {{ combination.skill01.name }} + {{combination.skill02.name }}</p>
					{% endif %}
					{% endfor %}
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">닫기</a>
				</div>
			</div>
		</div>
		{% else %}
		<div class="col s12 m6 l4 xl3">
			<button class="skill waves-effect waves-light btn">?????</button>
		</div>
		{% endif %}
		{% endif %}
		{% endfor %}
	</div>
</div>
<script>
	$('.modal').modal();
</script>
{% endblock %}
