/* SETTINGS */

nav {
	margin-bottom: 10px;
}

img.responsive-img {
	width: 100%
}

img {
	image-rendering: pixelated;
}

img.non-pixel {
	image-rendering: auto;
}
/* FOOTER */

.page-footer {
	padding-top: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* CHARACTER */

div.character {
	position: relative;
}

div.character img.responsive-img {
	display: block;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}

div.character img.absolute {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* BATTLE */

button.skill {
	margin-bottom: 10px;
