/* PHOENIX */

span#dialog1 {
	font-size: 25px;
}

span#dialog2 {
	font-size: 25px;
}

#finalbossbattle {
	color: white;
}

#before div#phoenix {
	margin-top: 10vh;
	height: 50vh;
}

#before div#dialogsection {
	margin-top: 10vh;
	height: 20vh;
}

#after div#phoenix {
	margin-top: 0;
	height: 80vh;
}

#after div#dialogsection {
	margin-top: 0;
	height: 10vh;
}

body#darkphoenix {
	color: white;
}

/* SETTINGS */

.invisible {
	display: none;
}

nav {
	margin-bottom: 10px;
}

img.responsive-img {
	width: 100%
}

img {
	image-rendering: pixelated;
}

img.non-pixel {
	image-rendering: auto;
}
/* FOOTER */

.page-footer {
	padding-top: 0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* CHARACTER */

div.character {
	position: relative;
}

div.character img.responsive-img {
	display: block;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;	
}

div.character img.absolute {
	position: absolute;
	bottom: 0;
	right: 0;
}

/* BATTLE */

button.skill {
	margin-bottom: 10px;
	width: 250px;
	padding-left: 0;
	padding-right: 0;
}

.battleground {
	image-rendering: pixelated;
	background-size: 250px 250px;
	background-position: center;
	transition: background 1s linear;
}

.battleground.math {
	background-image: url("/static/rpg/image/math.png");
}

.battleground.phys {
	background-image: url("/static/rpg/image/phys.png");
}

.battleground.chem {
	background-image: url("/static/rpg/image/chem.png");
}

.battleground.life {
	background-image: url("/static/rpg/image/life.png");
}

.battleground.prog {
	background-image: url("/static/rpg/image/prog.png");
}

/* SELECTSKILL */

button.skill.cannot {
	background-color: #DFDFDF;
	color: #9F9F9F;
	box-shadow: none;
}

button.skill.normal {
	background-color: #f06292;
}

button.skill.math {
	background-color: #fbc02d;
}

button.skill.phys {
	background-color: #0288d1;
}

button.skill.chem {
	background-color: #d32f2f;
}

button.skill.life {
	background-color: #388e3c;
}

button.skill.prog {
	background-color: #7b1fa2;
}

button.skill.boss {
	background-color: #616161;
}
